<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>

    <!-- fontawesome -->
<script src="https://kit.fontawesome.com/04004e89ec.js" crossorigin="anonymous"></script>

<!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>

    <div class="box" id="heading">

        <h1> <%= KindOfDay %> </h>

    </div>
    

    <div class="box" id="test">

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="Add new Tasks" autocomplete="off">
            
            <button type="submit" name="button" class="add">+</button>
        </form>
        
        <form action="/delete" method="post">
            
            <% newlistitems.forEach(function(item){ %>
                <div class="item" id="task-list">
                    <input type="checkbox" name="check" value="<%= item._id%>" onchange="this.form.submit()">
                    <p> <%= item.name%> </p>
                </div>
            <% }) %>
                
        </form>


        
           
    </div>

        <script src="js/main.js"></script>

</body>
</html>
